{% extends "base.html.twig" %}

{% block title %}Nouveau produit{% endblock %}


{% block body %}
{% include "nav.html.twig" %}
        <h1 class="text-center">Nouveau produit</h1>
        <div class="col-4 mx-auto">
            {{form_start(form_boule)}}
                {{form_row(form_boule.titre)}}
                {{form_row(form_boule.description)}}
                {{form_row(form_boule.prix)}}
                {{form_row(form_boule.promotion)}}
                {{form_row(form_boule.photo)}}
                <button class="btn btn-success bg-gradient">Enregistrer</button>
            {{form_end(form_boule)}}
        </div>
{% endblock %}